<!--MAIN PAGE-->

<div class="row">
  <div class="columns small-12 <medium></medium>-6 large-4 articles" *ngFor="let article of articles">
    <div class="article-container">
      <div class="row">
        <div class="columns small-12 large-10">
          <a routerLink="/details/{{ article._id }}" class="article-title">{{ article.title }}</a>
        </div>
        <div class="columns small-12 large-2 show-for-large">
          <a href="#" target="_blank" class="external">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	           width="61.639px" height="64.959px" viewBox="0 0 61.639 64.959" enable-background="new 0 0 61.639 64.959" xml:space="preserve">
             <g id="group">
                <path 
                class="star" 
                fill="#272D66" 
                d="M30.821,5.411c-14.949,0-27.07,12.121-27.07,27.072c0,14.946,12.121,27.065,27.07,27.065
                c14.948,0,27.067-12.119,27.067-27.065C57.888,17.532,45.769,5.411,30.821,5.411z M40.103,46.765l-9.282-4.881l-9.285,4.881
                l1.773-10.34l-7.512-7.32l10.381-1.508l4.643-9.402l4.642,9.402l10.379,1.508l-7.51,7.32L40.103,46.765z"/>
             </g>
            </svg>
          </a>
        </div>
      </div>
      <p>{{ article.description | length: 130 }}</p>
      <a routerLink="/details/{{ article._id }}" class="cta-btn btn2">More Info</a>
    </div>
  </div>
</div>
